
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="">
                <div>
                    <h2 style="display:inline-block;" class="welcome">Welcome!</h2>
                    <img style="display:inline-block;"  onclick="open_welcome()" src="assets/snappy-01.png" class="img-responsive index-img-fishy-click animated jello" alt="">
                    <p class="snappy">Click <span style="font-size: 20px;font-weight: 900; color:#ED1C24; font-style: normal; text-shadow: 1px 1px #fff;">Snappy</span> to find out more    <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                </div>
                    <hr>
                    <div class="index-close-container">
                    <div onclick="open_welcome()" class="index-close text-center"><i class="fa fa-times" aria-hidden="true"></i></div><p class="index-close-p">close</p>
                    </div>


                    <p class="index-intro-p">Snapper, share your fish, images or whatevs.
                    <br>
                    <br>
                    Meet <strong>Snappy the Snapper!</strong>
                    <br>
                    He will talk you through the deets.

                    </p>
                </div>
            </div>
            <div class="row intro">
                <div class="col-sm-4">
                    <img src="assets/snappy-04.png" class="img-responsive intro-img animated wobble" alt="">
                    <h2><span class="index-img-span">1.</span> Upload</h2>
                    <p class="index-img-p">Upload your Images</p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/snappy-01.png" class="img-responsive intro-img animated tada" alt="">
                    <h2><span class="index-img-span">2.</span>  Organise</h2>
                    <p class="index-img-p">Put images into albums</p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/snappy-03.png" class="img-responsive intro-img animated bounce" alt="">
                    <h2><span class="index-img-span">3.</span>  Share</h2>
                    <p class="index-img-p">Share your photos via Social media or email</p>
                </div>

            </div>
        </div>
    </section>


        <!-- END of Section


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    -->
