<h1>Hello!</h1>
<h1>Hello! - Login</h1>
<!-- <form method="post" action="/login"> -->


<%= form_tag '/login', method: 'post' do %>


  <label for "">Email</label>
  <input type="text" name="email"

  <label for ""> Password</label>
  <input type="password" name="password">

  <button> Login </button>

<% end %>


<a href="/user/new"><h3> New User :) </h3></a>
